body,
html {
  height: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: $background-color;
  color: $text-color;
  font-size: 16px;

  @media (max-width: $breakpoint-mobile) {
    font-size: 14px;
  }
}

body.dark-mode {
  background-color: $dark-background-color;
  color: $dark-text-color;
}

a {
  color: #fff;
  text-decoration: none;
  border-bottom: 0.125em solid $highlight-color;
  box-shadow: inset 0 -0.125em 0 $highlight-color;
  transition: box-shadow 270ms cubic-bezier(0.77, 0, 0.175, 1),
    color 270ms cubic-bezier(0.77, 0, 0.175, 1);

  &:hover {
    box-shadow: inset 0 -1.125em 0 $highlight-color;
  }

  &:focus {
    outline: none;
    background: $highlight-color;
    color: #fff;
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.2);
  }
}

.post-img-link,
.post-img-link:hover,
.post-img-link:focus,
.post-img-link:active {
  border-bottom: none;
  box-shadow: none;
  transition: none;
  color: unset;
  background-color: unset;
}
