.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
    justify-content: center;
  }
}

main {
  flex-grow: 1;
  padding: 20px;
  background-color: $background-color;
  max-width: $main-content-max-width;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: $breakpoint-tablet) {
    margin-left: $sidebar-width;
    margin-right: $sidebar-width;
    padding-left: 40px;
    padding-right: 40px;
  }

  body.dark-mode & {
    background-color: $dark-background-color;
  }
}
