::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $background-color;

  body.dark-mode & {
    background: $dark-background-color;
  }
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;

  &:hover {
    background: #555;
  }
}
