<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ site.title }}</title>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="{{ '/assets/css/styles.css' | relative_url }}"
  />
  <link
  rel="stylesheet"
  href="{{ '/assets/css/404.css' | relative_url }}"
/>

  <link
    href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
    rel="stylesheet"
  />
</head>
  {% include left-sidebar.html %}
  <body>
    <main class="is-centered">
      {% include pagenotfound.html %}
    </main>

    {% include right-sidebar.html %}
  </body>
</div>
<script src="{{ '/assets/js/menu.js' | relative_url }}"></script>
